{% extends "auctions/layout.html" %}
{% load columns %}
{% load static %}
{% load templates %}

<title>{% block title %}Auctions - Listings{% endblock title %}</title>

{% block body %}
<script>
    sessionStorage.setItem('listingId',0)
    sessionStorage.setItem('listingBid',0)

    function placeBid(id) {
        document.getElementById("buttonPlaceBid"+id).style.display="none";
        document.getElementById("divPlaceBid"+id).style.display="";

        sessionStorage.setItem('listingId', 0)
        sessionStorage.setItem('listingBid', 0)
    }

    function submitBid(id) { 
        document.getElementById("buttonPlaceBid"+id).style.display="none";
        document.getElementById("divPlaceBid"+id).style.display="";

        sessionStorage.setItem('listingId', id)
        sessionStorage.setItem('listingBid', document.getElementById("bidValue"+id).value)
    }
</script>

<div class="form-listings">
    <h2 class="h2-header">Active Listings</h2>

    <form action="{% url 'listings' %}" method="POST" name="AuctionForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for listing in listings|columns:4 %}
            <div class="col-md-4" >
                {% for item in listing %}
                    <div class="item-watchlist">
                        {% if user.is_authenticated %}
                            {% update_variable False as is_bookmarked %}
                            {% for bookmark in bookmarks %}
                                {% if bookmark.product_id == item.listing_id %}
                                    {% update_variable True as is_bookmarked %}
                                {% endif %}

                                {% if forloop.last %}
                                    {% if is_bookmarked %}
                                        <button type="button" id="button_watchlist_{{ item.listing_id }}" class="btn btn-outline-dark" name="add_bookmark" onclick="location.href='{% url "remove_watchlist" %}?product_id={{ item.listing_id }}'"><span>&#9829;</span></button>
                                    {% else %}
                                        <button type="button" id="button_watchlist_{{ item.listing_id }}" class="btn btn-outline-dark" name="add_bookmark" onclick="location.href='{% url "add_watchlist" %}?product_id={{ item.listing_id }}'"><span>&#9825;</span></button>
                                    {% endif %}
                                {% endif %}
                            {% empty %}
                                <button type="button" id="button_watchlist_{{ item.listing_id }}" class="btn btn-outline-dark" name="add_bookmark" onclick="location.href='{% url "add_watchlist" %}?product_id={{ item.listing_id }}'"><span>&#9825;</span></button>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="item-images">
                        <img class="item-image" src="{{ MEDIA_URL }}{{item.listing_image_file}}" width=300 height=300/>
                    </div>

                    <hr>
                    
                    <div class="col-sm-10">
                        <label for="listingCategory" class="col-sm2 col-form-label col-form-label-sm">Category:</label>
                        {{ item.listing_category }}
                    </div>

                    <div class="col-sm-10">
                        <label for="listingTitle" class="col-sm2 col-form-label col-form-label-sm">Title:</label>
                        {{ item.listing_title }}
                    </div>

                    <div class="col-sm-10">
                        <label for="listingPrice" class="col-sm2 col-form-label col-form-label-sm">Starting Bid:</label>
                        US${{ item.listing_price }}
                    </div>

                    <div class="col-sm-10">
                        <label for="listingPrice" class="col-sm2 col-form-label col-form-label-sm">Content:</label>
                        {{ item.listing_content }}
                    </div>

                    {% if user.is_authenticated %}
                        <button type="button" id="buttonPlaceBid{{ item.listing_id }}" class="btn btn-primary mt-3" onclick="placeBid({{ item.listing_id }});">Place Bid</button>

                        <div class="input-group-sm" id="divPlaceBid{{ item.listing_id }}" style="display:none">
                            {% for bid in bids %}
                                {% comment %} BIDD {{bid.product_id}}<br>
                                ITEE {{item.listing_id}}<br>
                                HB {{highest_bid}}<br> {% endcomment %}
                                {% if bid.product_id == item.listing_id %}
                                    {% comment %} encontrou o produto com valor {{ bid.bid_current_value }}<br> {% endcomment %}
                                    {% if bid.bid_current_value == 0 %}
                                        {% comment %} ANTES {{ item.listing_price }}<br> {% endcomment %}
                                        {% update_variable item.listing_price as highest_bid %}
                                        {% comment %} DEPOIS {{ highest_bid }}<br> {% endcomment %}
                                    {% else %}
                                        {{ bid.bid_current_value }}
                                    {% endif %}
                                {% endif %}
                                {% comment %} {% if forloop.last %}
                                ultimo {{ item.listing_price }}<br>
                                    {% update_variable item.listing_price as bid.bid_current_value %}
                                {% endif %} {% endcomment %}
                            {% endfor %}

                            {% if forloop.last and highest_bid == 0 %}
                                {% update_variable item.listing_price as highest_bid %}
                            {% endif %}

                            <div class="col-sm-10">
                                <div class="input-group" style="width:300px;">
                                    <span class="col-sm2 col-form-label col-form-label-sm input-group-addon">Max Bid:</span>
                                    <input id="bidValue{{ item.listing_id }}" type="number" min="{{ highest_bid }}" step=".01" style="width:150px; height:30px;" class="form-control" value="{{ highest_bid }}">
                                </div>
                            </div>
                            <button type="submit" id="buttonSubmit{{ item.listing_id }}" class="btn btn-primary mt-3" onclick="submitBid({{ item.listing_id }});">Place Bid</button>
                        </div>
                    {% endif %}
                    <hr>
                {% endfor %}
            </div><!-- /col-md-4 -->
        {% empty %}
            <div class="error-message">Sorry, no active listings found.</div>
        {% endfor %}
        </div><!-- /row -->
        {% if message %}
            <div class="error-message">{{ message }}</div>
        {% else %}
            <div class="error-message"></div>
        {% endif %}
    </form>
</div>
{% endblock body %}