{% extends "auctions/layout.html" %}
{% load columns %}
{% load static %}
{% load templates %}

<title>{% block title %}Auctions - Listings{% endblock title %}</title>

{% block body %}
<div class="form-listings">
    <h2 class="h2-header">INDEX Active Listings</h2>

    <form action="{% url 'listings' %}" method="POST" name="AuctionForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for listing in listings|columns:3 %}
            <div class="col-md-4">
                {% for item in listing %}
                    <div class="item-watchlist">
                        {% if user.is_authenticated %}
                            {% for bookmark in bookmarks %}
                                {% if bookmark.product_id == item.listing_id and not is_bookmarked %}
                                    {% update_variable True as is_bookmarked %}
                                    {% comment %} <button class="btn btn-outline-dark" name="add_bookmark"><span>&#9829;</span></button>
                                {% else %}
                                    {% update_variable False as is_bookmarked %}
                                    <button class="btn btn-outline-dark" name="add_bookmark"><span>&#9825;</span></button> {% endcomment %}
                                {% endif %} 

                                {% comment %} {% update_variable False as is_bookmarked %} {% endcomment %}
                            {% endfor %}

                            {% if is_bookmarked == True %}
                            <button class="btn btn-outline-dark" name="add_bookmark"><span>&#9829;</span></button>
                            {% else %}
                            <button class="btn btn-outline-dark" name="add_bookmark"><span>&#9825;</span></button>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="item-images">
                        <img class="item-image" src="{{ MEDIA_URL }}{{item.listing_image_file}}" width=300 height=300/>
                    </div>
                    <div class="item-title">{{ item.listing_title }}</div>
                    <div class="item-price">US${{ item.listing_price }}</div>
                    <div class="item-content">{{ item.listing_content }}</div>
                    <button type="submit" id="buttonSubmit" class="btn btn-primary mt-3" >Place Bid</button>
                    <hr>
                {% endfor %}
            </div><!-- /col-md-4 -->
        {% empty %}
            <div class="error-message">Sorry, no active listings found.</div>
        {% endfor %}
        </div><!-- /row -->
    </form>
</div>
{% endblock body %}