{% extends "auctions/layout.html" %}
{% load columns %}
{% load static %}
{% load templates %}

<title>{% block title %}Auctions - Listings{% endblock title %}</title>

{% block body %}
<script>
    function placeBid(id) {
        document.getElementById("currentId").value = id;
        document.getElementById("buttonPlaceBid"+id).style.display="none";
        document.getElementById("divPlaceBid"+id).style.display="";
    }

    function cancelBid(id) { 
        document.getElementById('currentId').value = 0;
        document.getElementById("buttonPlaceBid"+id).style.display="";
        document.getElementById("divPlaceBid"+id).style.display="none";
    }

    function submitBid(id) { 
        document.getElementById("currentId").value = id;
        document.getElementById("buttonPlaceBid"+id).style.display="none";
        document.getElementById("divPlaceBid"+id).style.display="";

        priorBid = document.getElementById("priorBid"+id).value;
        currentBid = document.getElementById("bidValue"+id).value;

        if(currentBid <= priorBid) {
            document.getElementById("buttonSubmit"+id).type = 'button'
            alert("Bid must be greater than " + priorBid);
        }
        else {
            document.getElementById("currentId").value = id;
            document.getElementById("priorBid"+id).innerHTML = document.getElementById("priorBid"+id).value;
            document.getElementById("currentBid"+id).value = document.getElementById("bidValue"+id).value;
    
            document.getElementById("buttonSubmit"+id).name = 'buttonSubmit'+id
            document.getElementById("buttonSubmit"+id).type = 'submit'

            {% update_variable 0 as highest_bid %}
            
            alert('Bid placed successfully!');
        }
    }
</script>

<div class="form-listings">
    <h2 class="h2-header">Active Listings</h2>

    <form action="{% url 'listings' %}" method="POST" id="listingForm" name="ListingForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="currentId" name="currentId" value="0">
        <div class="row">
            {% for listing in listings|columns:1 %}
            <div class="col-md-4" >
                {% for item in listing %}
                    <div class="item-watchlist">
                        {% if user.is_authenticated %}
                            {% update_variable False as is_bookmarked %}
                            {% for bookmark in bookmarks %}
                                {% if bookmark.product_id == item.listing_id %}
                                    {% update_variable True as is_bookmarked %}
                                {% endif %}

                                {% if forloop.last %}
                                    {% if is_bookmarked %}
                                        <button type="button" id="button_watchlist_{{ item.listing_id }}" class="btn btn-outline-dark" name="add_bookmark" onclick="location.href='{% url "remove_watchlist" %}?product_id={{ item.listing_id }}'"><span>&#9829;</span></button>
                                    {% else %}
                                        <button type="button" id="button_watchlist_{{ item.listing_id }}" class="btn btn-outline-dark" name="add_bookmark" onclick="location.href='{% url "add_watchlist" %}?product_id={{ item.listing_id }}'"><span>&#9825;</span></button>
                                    {% endif %}
                                {% endif %}
                            {% empty %}
                                <button type="button" id="button_watchlist_{{ item.listing_id }}" class="btn btn-outline-dark" name="add_bookmark" onclick="location.href='{% url "add_watchlist" %}?product_id={{ item.listing_id }}'"><span>&#9825;</span></button>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="item-images">
                        <img class="item-image" src="{{ MEDIA_URL }}{{item.listing_image_file}}" width=300 height=300/>
                    </div>

                    <hr>
                    
                    <div class="col-sm-10">
                        <label for="listingCategory" class="col-sm2 col-form-label col-form-label-sm">Category:</label>
                        {{ item.listing_category }}
                    </div>

                    <div class="col-sm-10">
                        <label for="listingTitle" class="col-sm2 col-form-label col-form-label-sm">Title:</label>
                        {{ item.listing_title }}
                    </div>

                    <div class="col-sm-10">
                        <label for="listingPrice" class="col-sm2 col-form-label col-form-label-sm">Price:</label>
                        US${{ item.listing_price }}
                    </div>

                    <div class="col-sm-10">
                        <label for="listingPrice" class="col-sm2 col-form-label col-form-label-sm">Content:</label>
                        {{ item.listing_content }}
                    </div>

                    {% if user.is_authenticated %}
                        <button type="button" id="buttonPlaceBid{{ item.listing_id }}" class="btn btn-primary mt-3" onclick="placeBid({{ item.listing_id }});">Place Bid</button>
                        <div class="input-group-sm" id="divPlaceBid{{ item.listing_id }}" style="display:none">
                            {% for bid in bids %}
                                {% if bid.id == item.listing_id %}
                                    {% if bid.highest_bid == 0 %}
                                        {% update_variable item.listing_price as thighest_bid %}
                                        <input type="hidden" id="priorBid{{ item.listing_id }}" name="priorBid{{ item.listing_id }}" value="{{ thighest_bid }}">
                                        <input type="hidden" id="currentBid{{ item.listing_id }}" name="currentBid{{ item.listing_id }}" value="{{ thighest_bid }}">
                                        <div class="col-sm-10">
                                            <div class="input-group" style="width:300px;">
                                                <span class="col-sm2 col-form-label col-form-label-sm input-group-addon">Max Bid:</span>
                                                <input id="bidValue{{ item.listing_id }}" type="number" min="{{ thighest_bid }}" step=".01" style="width:150px; height:30px;" class="form-control" value="{{ thighest_bid }}">
                                            </div>
                                        </div>
                                        zero
                                        {% update_variable item.listing_price as thighest_bid %}
                                    {% else %}
                                        {% update_variable bid.highest_bid as thighest_bid %}
                                        <input type="hidden" id="priorBid{{ item.listing_id }}" name="priorBid{{ item.listing_id }}" value="{{ thighest_bid }}">
                                        <input type="hidden" id="currentBid{{ item.listing_id }}" name="currentBid{{ item.listing_id }}" value="{{ thighest_bid }}">
                                        <div class="col-sm-10">
                                            <div class="input-group" style="width:300px;">
                                                <span class="col-sm2 col-form-label col-form-label-sm input-group-addon">Max Bid:</span>
                                                <input id="bidValue{{ item.listing_id }}" type="number" min="{{ thighest_bid }}" step=".01" style="width:150px; height:30px;" class="form-control" value="{{ thighest_bid }}">
                                            </div>
                                        </div>
                                                    
                                    {% endif %}
                                {% endif %}
                            {% empty %}
                                {% update_variable item.listing_price as thighest_bid %}
                                <input type="hidden" id="priorBid{{ item.listing_id }}" name="priorBid{{ item.listing_id }}" value="{{ thighest_bid }}">
                                <input type="hidden" id="currentBid{{ item.listing_id }}" name="currentBid{{ item.listing_id }}" value="{{ thighest_bid }}">

                                <div class="col-sm-10">
                                    <div class="input-group" style="width:300px;">
                                        <span class="col-sm2 col-form-label col-form-label-sm input-group-addon">Max Bid:</span>
                                        <input id="bidValue{{ item.listing_id }}" type="number" min="{{ thighest_bid }}" step=".01" style="width:150px; height:30px;" class="form-control" value="{{ thighest_bid }}">
                                    </div>
                                </div>
                            {% endfor %}

                            <button type="submit" id="buttonSubmit{{ item.listing_id }}" class="btn btn-primary mt-3" onclick="submitBid({{ item.listing_id }});">Place Bid</button>
                            <button type="button" id="buttonCancel{{ item.listing_id }}" class="btn btn-primary mt-3" onclick="cancelBid({{ item.listing_id }});">Cancel</button>
                        </div>
                    {% endif %}

                    <hr>

                    <form action="{% url 'comments' %}" method="POST" id="commentsForm" name="CommentsForm" enctype="multipart/form-data">
                        {% for comment in comments %}
                            <div class="col-sm-10">
                                <label for="commentContent" class="col-sm2 col-form-label col-form-label-sm">Comment:</label>
                                {{ comment.commentsContent }}
                            </div>

                            {% if user.is_authenticated %}
                                <button type="submit" id="buttonSubmitComment{{ item.listing_id }}" class="btn btn-primary mt-3" onclick="submitComment({{ item.listing_id }});">Add comment</button>
                            {% endif %}
                        {% endfor %}
                    </form>

                {% endfor %} <!-- for listing in listings --!>
            </div><!-- /col-md-4 -->
        {% empty %}
            <div class="error-message">Sorry, no active listings found.</div>
        {% endfor %}
        </div><!-- /row -->
        {% if message %}
            <div class="error-message">{{ message }}</div>
        {% else %}
            <div class="error-message"></div>
        {% endif %}
    </form>
</div>
{% endblock body %}