{% extends 'auctions/layout.html' %}

<title>{% block title %}Auctions - Listings{% endblock title %}</title>

{% block body %}
<div class="form-listing">
    <h2 class="h2-header">Create new listing</h2>

    <form action="{% url 'create_listing' %}" method="POST" name="ListingForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-4">
                <div class="mb-3">
                    {{ form.listingImage }}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3" width="200hv">
                    <label for="listingTitle" class="form-label">Title</label>
                    {{ form.listingTitle }}
                </div>
                <div class="mb-3">
                    <label for="listingContent" class="form-label">Content</label>
                    {{ form.listingContent }}
                </div>
                <div class="mb-3">
                    <label for="listingPrice" class="form-label">Price</label>
                    {{ form.listingPrice }}
                </div>
                <div class="mb-3">
                    <label for="listingStock" class="form-label">Stock</label>
                    {{ form.listingStock }}
                </div>
                <div class="mb-3">
                    <label for="listingStatus" class="form-label">Status</label>
                    {{ form.listingStatus }}
                </div>
                <div class="mb-3">
                    <label for="listingStartDate" class="form-label">Starting date</label>
                    {{ form.listingStartDate }}
                </div>
                <div class="mb-3">
                    <label for="listingEndDate" class="form-label">Ending date</label>
                    {{ form.listingEndDate }}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock body %}