{% extends 'auctions/layout.html' %}
{% load columns %}
{% load static %}

<title>{% block title %}Auctions - Listings{% endblock title %}</title>

{% block body %}
<div class="form-listings">
    <h2 class="h2-header">LISTINGS Active Listings</h2>

    <form action="{% url 'listings' %}" method="POST" name="AuctionForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for listing in listings|columns:3 %}
            <div class="col-md-4">
                {% for item in listing %}
                    <div class="item-watchlist">
                        {% if item.id in bookmarks %}
                            <button class="btn btn-outline-dark" name="add_bookmark"><span>&#9829;</span></button>
                        {% else %}
                            <p>aqui<p>
                            <button class="btn btn-outline-dark" name="add_bookmark"><span>&#9825;</span></button>
                        {% endif %}
                    </div>
                    <div class="item-images">
                        <img class="item-image" src="{{ MEDIA_URL }}{{item.listing_image_file}}" width=300 height=300/>
                    </div>
                    <div class="item-title">{{ item.listing_title }}</div>
                    <div class="item-price">US${{ item.listing_price }}</div>
                    <div class="item-content">{{ item.listing_content }}</div>
                    <button type="submit" id="buttonSubmit" class="btn btn-primary mt-3" >Place Bid</button>
                    <hr>
                {% endfor %}
            </div><!-- /col-md-4 -->
            {% empty %}
            <div class="error-message">Sorry, no active listings found.</div>
            {% endfor %}
        </div><!-- /row -->
    </form>
</div>
{% endblock body %}